/* Define color variables */
:root {
  --primary-color: #f4ce14;
  --secondary-color: #495e57;
  --accent-color: #ee9972;
  --background-color: #edefee;
  --highlight-color: #fbdabb;
  --text-color: #333333;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* Center items vertically */
  width: 100%;
}

/* Other global styles like buttons, links, etc. here */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
}

h1 {
  font-size: 64pt;
  font-weight: 500; /* Display Title - Medium */
}

h2 {
  font-size: 40pt;
  font-weight: 400; /* Sub title - regular */
}

h3 {
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: 800; /* Section title - extra bold */
}

p {
  font-size: 16pt;
  max-width: 65ch;
  line-height: 1.5;
}